= render partial: "devise/header_view"

.container.clearfix

  .contents-box
    .contents-box__user-box
      .contents-box__user-box__profile-box
        %img(src="assets/icon/member_photo_noimage_thumb.png" alt="" class="icon")
        %h2.user-name ユーザー名
        
    .contents-box__news-box
      .mypage-tabs お知らせ
      %ul.contents-box__news-box__news-items
        %li.contents-box__news-box__news-items__news-link
          .contents-box__news-box__news-items__news-link__body
            .message 事務局からのお知らせ 1
            .time 1時間前
        %li.contents-box__news-box__news-items__news-link
          .contents-box__news-box__news-items__news-link__body
            .message 事務局からのお知らせ 2
            .time 2時間前
        %li.contents-box__news-box__news-items__news-link
          .contents-box__news-box__news-items__news-link__body
            .message 事務局からのお知らせ 3
            .time 3時間前

    .contents-box__purchase-box
      .contents-box__purchase-box__purchase-head 購入した商品
      .contents-box__purchase-box__purchase-tabs
        .tab 取引中
        .tab 過去の取引
      %ul.contents-box__purchase-box__purchase-items
        %li.contents-box__purchase-box__purchase-items__link
          .contents-box__purchase-box__purchase-items__link__body
            .text 購入履歴1
            .time 1時間前
        %li.contents-box__purchase-box__purchase-items__link
          .contents-box__purchase-box__purchase-items__link__body
            .text 購入履歴2
            .time 2時間前

  .side-box
    .side-box__contents-items
      %li
        %a マイページ
      %li
        %a お知らせ
      %li
        %a やることリスト
      %li
        %a いいね！一覧
      %li
        %a 出品する
      %li
        %a 下書き一覧
      %li
        %a 出品した商品一覧-出品中
      %li
        %a 出品した商品-取引中
      %li
        %a 出品した商品-売却済み
      %li
        %a 購入した商品-取引中
      %li
        %a 購入した商品-過去の取引
      %li
        %a ニュース一覧
      %li
        %a 評価一覧
      %li
        %a ガイド
      %li
        %a お問い合わせ
    .side-box__content-title
      %h1 メルペイ
      .side-box__contents-items
        %li
          %a 売上・振込申請
        %li
          %a ポイント
    .side-box__content-title
      %h1 設定
      .side-box__contents-items
        %li
          %a プロフィール
        %li
          %a 発送元・お届け先住所変更
        %li
          %a 支払い方法
        %li
          %a メール/パスワード
        %li
          %a 本人情報
        %li
          %a 電話番号の確認
        %li
          %a ログアウト

.footer-sell-btn

= render partial: "devise/footer_view"



-# - @contents.each do |c|
-# = c