.top-main__pickup__productbox__lists__list
  = link_to item_path(item) do
    .top-main__pickup__productbox__lists__list__img
      = image_tag item.images.first.image.url
    .top-main__pickup__productbox__lists__list__body
      %h3.top-main__pickup__productbox__lists__list__body__name
        = item.name
      .top-main__pickup__productbox__lists__list__body__details
        %ul
          %li
            = item.price
            %span 円
          %li ★ 0
        %p
          (税込)