%aside.top-appbanner
  .top-appbanner__inner
    %h2.top-appbanner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.top-appbanner__inner__text
      今すぐ無料ダウンロード！
    .top-appbanner__inner__icon
      = link_to root_path do
        = image_tag "logo/app-store.svg", class: 'app-store-btn'
      = link_to root_path do
        = image_tag "logo/google-play.svg", class: 'google-play-btn'
