%aside.top-appbanner
  .top-appbanner__inner
    %h2.top-appbanner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.top-appbanner__inner__text
      今すぐ無料ダウンロード！
    .top-appbanner__inner__icon
      = link_to image_tag("/assets/logo/app-store.svg"), root_path, class: 'app-store-btn'
      = link_to image_tag("/assets/logo/google-play.svg"), root_path, class: 'google-play-btn'
