%header.header
  .header__inner
    .header__inner__top
      .header__inner__top__icon
      .header__inner__top__searchbox
      
    .header__inner__nav
      %ul.header__inner__nav__listsleft
        %li.header__inner__nav__listsleft__category
        %li.header__inner__nav__listsleft__brand
      %ul.header__inner__nav__listsright
        %li.header__inner__nav__listsright__login
        %li.header__inner__nav__listsright__new

.main
  .main__image
    .main__image__content
      .main__image__content__subtitle
      .main__image__content__text
      .main__image__content__btn
  
  .main__introduction
  .main__dl
  .main__features
  .main__pickup
  .main__pickup
  .appbanner
.footer