= render partial: "top-header"
.item-box
  .item-box__name
    デニムパンツ  ダメージジーンズ
  .item-box__wording
    『デニム パンツ ダメージジーンズ』は、72回の取引実績を持つたこさんから出品されました。デニム/ジーンズ/レディースの商品で、未定から1~2日で発送されます。
  .item-box__main-content
    .item-box__main-content__left-photo
      = image_tag(asset_path("item/item01.png"))
    .item-box__main-content__right-table
      %ul 
        %li 出品者
        %h1 鈴木
      %ul 
        %li カテゴリー
        %h1 レディース
      %ul 
        %li サイズ
        %h1 M
      %ul
        %li 状態
        %h1 目立った傷や、汚れなし
  .item-box__price-box
    .item-box__price-box__item-price
      ¥800
    .item-box__price-box__item-tax
      (税込み)
    .item-box__price-box__item-shipping
      送料込み
  .item-box__item-buybtn
    購入画面に進む
  .item-box__details
    %p オーバーシルエットの切りっぱなしデニムです！
    長めになっているのでスニーカーと合わせると
    可愛く着用できると思います！

= render partial: "top-appbanner"
= render partial: "top-footer"
