.clearfix::after {
  content: “”;
  display: block;
  clear: both;
}

.cards {
  width: 100%;
  padding: 40px 0;

  .card-new {
    width: 60%;  // サイドバーを40%にしたため
    float: right;
    text-align: left;
    display: table;

    &__top {
      font-size: 24px;
      font-weight: bold;
      padding: 8px 24px;
      text-align: center;
    }

    &__container {
      width: 350px;
      margin: 0 auto;
      padding-top: 40px;
      border-top: 1px solid #f5f5f5;

      &__margin {
        display: table;

        .number {
          margin-top: 5px;
        }
      }

      &__deadline {
        margin-top: 10px;
        
        &__form{
          display: inline-flex;
          margin-top: 5px;
        }
      }

      &__form-group {
        margin-top: 10px;

        .number {
          margin-top: 5px;
        }
      }
    }

    .number {
      height: 48px;
      width: 350px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }
  
  .right {
    height: 48px;
    width: 100px;
    margin: 0px 0px 0px 15px;
    cursor: pointer;
  }

  .left {
    height: 48px;
    width: 100px;
    cursor: pointer;
  }

  .add {
    height: 60px;
    width: 100%;
    margin: 50px 0px 0px 0px;
    background: red;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}
