.items-new {
  box-sizing: border-box;

  .items-new-error-message {
    text-align: center;
  }

  .item-new {
    margin: 0 auto;
    width: 700px;

    .item-new-box {
      padding: 20px 10px ;

      &__name {

        .item-input-field {
          border-radius: 5px;
          padding: 0 8px;
        }

        .item-text-field__new {
          margin-bottom: 10px;
          width: 100%;
          height: 160px;
          border-radius: 5px;
          resize: none;
          padding: 4px
        }
      }

      .items-text {
        font-size: 14px;
        margin-bottom: 20px;
        display: inline-block;
      }

      .item-input-field {
        margin-bottom: 10px;
        width: 100%;
        height: 50px;
      }

      .item-input-number {
        position: absolute;
        display: inline-block;
        right: 0px;
        top: 0;
        width: 50%;
        text-align: right;
      }

      .item-select-field {
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
      }

      &__image {

        .upload-image {
          font-size: 14px;
        }

        &__field{
          
          #image-box {
            min-height: 150px;
            width: 100%;
            margin-top: 10px;
            border: dotted 1px;
            background: #f5f5f5;

            #previews {

              .preview-image {
                border: outset 1px;
                object-fit: contain;
              }
            }

            .js-remove {
              width: 100px;
              padding: 0 32px;
              font-size: 12px;
              color: white;
              background-color: gray;
              border: 1px solid white;
              border-radius: 5px;
              cursor: pointer;
            }

            .js-remove:hover {
              opacity: 0.6;
            }
          }

          .preview-image {
            width: calc(100% - 80%);
            margin: 2px;
          }

          &__nav {
            width: 50%;
            margin: 40px auto;
            text-align: center;

            .image_nav {
              font-size: 10px;
            }
          }

          #item-image {
            // display: none;
          }   
        }
      }

      &__name {

        .item-text-field {
          margin-bottom: 10px;
          width: 100%;
          height: 100px;
        }

        .style-counter {
          text-align: right;
          font-size: 8px;
        }
      }

      &__status {

        .status-menu {
          margin-bottom: 10px;
          float: left;
        }

        &__details__title {
          font-size: 14px;
          margin-top: 20px;
          margin-bottom: 16px;
        }

        .require_size {
          display: inline-block;
          padding: 2px;
          background-color: gray;
          color: white;
          margin-left: 10px;
          border-radius: 5px;
          font-size: smaller;
        }
      }

      &__send {

        &__prefecture {
          height: 45px;
          line-height: 45px;
          display: inline-block;
          text-align: start;
          box-sizing: border-box;
          background-color: rgb(248, 248, 248);
          cursor: default;
          margin: 0em;
          font: 400 11px ;
          border-radius: 5px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(166, 166, 166);
          border-image: initial;
          margin-bottom: 10px;
          width: 100%;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
          padding: 0 8px;
        }

        .send-menu {
          margin-bottom: 10px;
          float: left;
        }
      }

      &__price {
        position: relative;

        .en {
          position: absolute;
          left: 315px;
        }
      }

      &__tax {
        font-size: 14px;
        margin: 20px 0px 10px 0px;

        .price-tax {
          display: inline-block;
          float: right;
          margin-right: 20px;
          }
      }

      &__submit {

        .new-item-sell {
          width: 50%;
          display: block;
          margin: 10px auto;
          border-radius : 5%;
          font-size     : 16px;
          cursor        : pointer;
          padding       : 10px 10px;
          background    :#ea352d;
          color         :#ffffff;
          line-height   : 1em;
          }
          
        .new-item-save {
          width: 50%;
          display: block;
          margin: 10px auto;
          border-radius : 5%;
          font-size     : 16px;
          cursor        : pointer;
          padding       : 10px 10px;
          background    :gray;
          color         :black;
          line-height   : 1em;
        }
      }
    }
  }
}
