.ll {
width: 39%;
}

.item-box {
  width: 50%;
  padding: 24px 0;
  background-color: #fff;
  margin: 40px auto 0;

  &__name {
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
    }

  &__wording {
    margin-bottom: 24px;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
    }
    
  &__main-content {
    margin: 0 16px;

    &__left-photo {
      float: left;
      min-width: 300px;
      max-width: 300px;
      margin: 0 auto;
      }
      
    &__right-table {
      float: right;
      max-width: 300px;
      height: auto;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;

      ul {
        display: flex;
      }

        li {
          width: 39%;
          text-align: left;
          font-weight: 400;
          background: #fafafa;
          list-style: none;
          padding: 8px;
          border: 1px solid #f5f5f5;
        }

        h1 {
          width: 61%;
          background: #fff;
          list-style: none;
          display: flex;
          padding: 8px;
          border: 1px solid #f5f5f5;
        }
      }
    }

  &__price-box {
    margin: 24px 0 0;
    text-align: center;
    clear: both;

    &__item-price {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: 600;
      display: inline-block;
    }

    &__item-tax {
      font-size: 10px;
      display: inline-block;
    }

    &__item-shipping {
      display: inline-block;
      font-size: 16px;
    }
  }

  &__btn-box {
    width: 70%;
    margin: 32px auto 0;
    display: block;

    .btn {
      font-size: 24px;
      line-height: 60px;
      display: block;
      background-color: #ea352d;
      color: #fff;
      text-align: center;
      font-weight: 600;
      margin-top: 16px;
      text-decoration: none;
      width: 100%;
    }
  }

  &__details {
    line-height: 1.5;
    font-size: 18px;
    white-space: pre-wrap;
  }

  &__wrapper {
    margin: 12px auto;
    width: 50%;

    a {
      display: block;
      width: 50%;
      text-decoration: none;
      background-color: #ea352d;
      color: white;
      padding: 10px 80px;
      margin: 24px auto;
      text-align: center;
      font-weight: bold;
    }
  }
}
