.login-main{
  width: 100%;
  margin: 0;
  padding: 0;

  &__panel{
    width: 400px;
    margin: 0 auto;
    text-align: center;

    &__account{
      margin-top: 20px;
      h1{
        font-size: 14px;

      }
      a{
        display: block;
        margin: 8px 0 0;
        border: 1px solid #0099e8;
        background-color: #0099e8;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
      }
    }
    &__form-inner{

      .text-form{
        width: 363px;
        padding: 10px 16px 8px;
        display: block;
        margin: 100px 0px 30px 0px;
      }
      .password-form{
        width: 363px;
        padding: 10px 16px 8px;
        display: block;
        // margin: 0px 0px 60px 0px;
      }

      &__text{
        // height: 48px;
        // padding: 10px 16px 18px;
        // border-radius: 4px;
        // border: 1px solid #ccc;
        // background: #fff;
        // line-height: 1.5;
        // font-size: 16px;
      &__passwprd{


      }
      }
      &__submit-btn{
      a{
      color: #0099e8;
      text-decoration: none;
      float: left;
      }
      .btn{
        display: block;
        width: 100%;
        background: red;
        border: 1px solid;
        color: #fff;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        margin-top: 40px;
      }
      }




    }
    }
  }
