.login-main {
  width: 100%;
  margin: 0;
  padding: 0;

  &__panel {
    width: 400px;
    margin: 0 auto;
    text-align: center;

    &__account {
      margin-top: 20px;

      h1 {
        font-size: 14px;

      }

      a {
        display: block;
        margin: 8px 0 0;
        border: 1px solid #0099e8;
        background-color: #0099e8;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
      }
    }

    &__form-inner {

      .text-form {
        width: 100%;
        padding: 10px 16px 8px;
        display: block;
        margin: 100px 0px 30px 0px;
      }

      .password-form {
        width: 100%;
        padding: 10px 16px 8px;
        display: block;
      }

      &__submit-btn {
        margin-top: 50px;
        
        a {
          color: #0099e8;
          text-decoration: none;
        }

        .btn {
          display: block;
          width: 100%;
          background: red;
          border: 1px solid;
          color: #fff;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          margin: 10px 0px 10px 0px;
        }
      }

      .sns-btns {
        margin-top: 20px;
        
        .sns-btn {
          display: block;
          margin: 10px auto;
          text-align: center;
          width: 100%;
          height: 50px;
          line-height: 50px;
          color: #fff;
          border-radius: 5px;
          font-weight: bold;
          text-decoration: none;
        }
    
        .facebook-btn {
          border: 1px solid #3B5998;
          background-color: #3B5998;
          }
    
        .google-btn {
          border: 1px solid #ff5a5f;
          background-color: #ff5a5f;
        }
      }
    }
  }
}
