.clearfix::after {
  content: “”;
  display: block;
  clear: both;
}

.container {
  width: 100%;

  .contents-box {
    width: 50%;
    margin: 40px 80px 80px 0;
    float: right;
    box-sizing: inherit;

    &__user-box {

      &__profile-box {
        width: 100%;
        text-align: center;
        margin: 40px 0;

        .user-name {
          font-size: 14px;
        }
      }
    }

    &__news-box {

      .mypage-tabs {
        border-top: 2px solid #ea352d;
        height: 72px;
        line-height: 72px;
        text-align: center;
        font-size: 16px;
        color: #333;
        font-weight: bold;
      }

      &__news-items {
        
        &__news-link {
          border-bottom: 1px solid #eee;
          height: 81px;
          padding: 16px;

          &__body {
            margin: 0 40px 0 68px;

            .message {
              line-height: 1.5;
              color: #333;
              font-size: 14px;
            }

            .time {
              color: #888;
              line-height: 1;
              font-size: 14px;
            }
          }
        }
      }
    }

    &__purchase-box {
      margin: 40px 0 0;

      &__purchase-head {
        padding: 0 16px;
        height: 72px;
        line-height: 72px;
        font-size: 16px;
        color: #333;
        font-weight: bold;
      }

      &__purchase-tabs {
        
        .tab {
          display: inline-block;
          box-sizing: border-box;
          width: 49.5%;
          border-top: 2px solid #ea352d;
          height: 72px;
          line-height: 72px;
          text-align: center;
          color: #333;
          font-weight: bold;
          font-size: 16px;
        }
      }

      &__purchase-items {

        &__link {
          padding: 16px;
          border-bottom: 1px solid #eee;
          height: 81px;

          &__body {
            margin: 0 40px 0 68px;

            .text {
              line-height: 1.5;
              color: #333;
              font-size: 14px;
            }
    
            .time {
              color: #888;
              line-height: 1;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
