.new-reg {
  height: auto;
  margin: 0 auto;
  width: 700px;
  &__header {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: x-large;
    font-weight: bolder;
    border-bottom: 1px solid gray;
  }
  &__contents {
    padding: 40px;
    &__wrapper {
      margin: 0 auto;
      width: 350px;
      &__btn {
        width: 330px;
        height: 60px;
        background-color: green;
        cursor: pointer;
        color: white;
        display: block;
      }
      .actions {
        text-align: center;
      }
      &__box {
        margin-bottom: 30px;
        &__form {
          margin-top: 10px;
          height: 40px;
          width: 330px;
        }
      }
      &__name-box {
        margin-bottom: 30px;
        &__last {
          margin-top: 10px;
          height: 40px;
          width: 150px;
        }
        &__first {
          margin-top: 10px;
          height: 40px;
          width: 150px;
        }
      }
      &__birth {
        margin-bottom: 30px;
        #user_birth_1i {
          margin-top: 20px;
          margin-right: 10px;
          
          height: 40px;
        }
        #user_birth_2i {
          margin-right: 10px;
          margin-left: 10px;
          height: 40px;
        }
        #user_birth_3i {
          height: 40px;
          margin-left: 10px;
        }
      }
    }
  }

}

.require {
  display: inline-block;
  padding: 2px;
  background-color: red;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  font-size: smaller;
}