.footer_view
  .footer_view__nav
    %ul
      %li
        %a(href="") プライバシーポリシー
      %li
        %a(href="") FURIMA利用規約
      %li
        %a(href="") 特定商取引に関する表記
  .footer_view__logo
    %a(href="")
      %img(src="assets/logo/logo-white.png" alt="" width="100px" height="40px") 
  .footer_view__inc
    %p
      %small  © FURIMA, Inc.